@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);

header {
	color: white;
	text-align: center;
	vertical-align: center;
	font-size: 50px;
	font-family: 'Montserrat', sans-serif;
	line-height: 100%;
}

footer {
	font-family: 'Open Sans', sans-serif;
	font-size: small;
	margin: 0 auto;
	text-align: center;
}

.php.error, .CodeMirror-gutter-elt {
	color: rgb(171, 79, 94);
}

.CodeMirror-gutter-elt {
	left: 3px;
	width: 0px;
	font-size: large;
	top: -1px;
	font-weight: bold;
}
.phperror-gutter,  {
	background-color: red;
	color: red;
}